.align-middle td:nth-child(3) {
    font-size: small;
}

body {
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-text-color);
}

.product-card {
    position: relative;
    border: 1px solid #ffc107;
    border-radius: 10px;
}

span.product-cart-qty {
    position: absolute;
    right: 0;
    top: 5px;
}

.product-title {
    font-size: small;
    margin: 0;
    padding: 0 1px 0 1px;
}

.product-price {
    font-weight: 600;
    margin: 5px 0 0 0;
}

nav.fixed-top {
    background-color: var(--tg-theme-bg-color);
    padding: 0 12px;
}

.tab-content {
    padding-top: 50px;
}

.nav-tabs .nav-link.active {
    background-color: #ffc107;
    border-color: #ffc107;
    color: #fff;
}

.nav-tabs {
    border-bottom: 1px solid #FFD052;
}

.nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border-color: #ffc107;
    border-bottom: 1px solid #FFD052;
}

.nav-link {
    color: var(--tg-theme-link-color);
}

.no-products-message {
    text-align: center;
    font-weight: bold;
}

img.cart-img {
    width: 40px;
}

.card-img-top {
    border-radius: 10px 10px 0 0;
}

.add2cart {
    color: #fff;
    font-weight: 600;
}

.loader-img {
    display: none;
}
.loader-img-frame {
    display: none;
}

.modal-open {
    overflow: auto !important;
}

modal-backdrop.show {
    opacity: 0 !important;
}

@keyframes scale {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.scale {
    animation: scale 0.3s ease-in-out;
}

.qty {
    margin-top: 0;
    font-size: small;
}